@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    <div style="width: 100%;height: 130px;">
        
        <div style="width: 35%;height: 120px;float: left">
            <img src="@Url.Content("~/Content/images/logo.png")" style="width: 35%;height: 120px;" />
        </div>
        
        <div style="width: 65%;height: 120px; float: left">
          <center><h1 style="color: green;">CODER UNIVERSITY</h1></center> 
        </div>
    </div>
    
   
    
    <img src="@Url.Content("~/Content/images/university.jpeg")" style="width: 100%;height: 400px;" />

</div>
@*<div style="margin-top: 10px;width: 100%;height: 400px;">

        <img src="~/Views/Home/university.jpeg" style="width:100%; height: 300px;" />

    </div>*@

<div class="row">
    <div class="col-md-4">
        <h2>About</h2>
        <p>
            The mission of the Massachusetts Institute of Technology is to advance knowledge and educate students 
            in science, technology, and other areas of scholarship that will best serve the nation and the world
            in the 21st century. We are also driven to bring knowledge to bear on the world’s great challenges.
        </p>
        <p><a class="btn btn-default" href="http://web.mit.edu/aboutmit/">More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Education</h2>
        <p>education
            Spanning five schools — architecture and planning; engineering; humanities, arts, and social sciences; management; 
            and science — and more than 30 departments and programs, an education at MIT covers more than just science and technology.
            Arts, business, global languages, health and more..
        </p>
        <p><a class="btn btn-default" href="http://web.mit.edu/education/">More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Research</h2>
        <p>Research at MIT aims to develop innovative solutions to the world’s most daunting challenges. 
            From addressing the energy needs of tomorrow to improving cancer therapies, MIT’s research efforts
         are enhanced through creative collaborations with leading research institutes and consortia around the world. </p>
        <p><a class="btn btn-default" href="http://web.mit.edu/research/">More &raquo;</a></p>
    </div>
</div>