@using UniversityCourseAndResultManagementSystemApp.Models

@{
    ViewBag.Title = "ClassSchedul";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Department> listOfDepartments = ViewBag.listOfDepartments;
}


@using (Html.BeginForm())
{
    <fieldset>
        <legend>View Class Schedule and Room Allocation Information</legend>
        <div class="form-horizontal">

            <div class="form-group">
                <div class="col-sm-2 control-label">
                    <label for="departmentId">Department</label>
                </div>
                <div class="col-sm-10">
                    <select name="departmentId" id="departmentId" class="form-control">
                        <option value="">---Select---</option>
                        @foreach (var department in listOfDepartments)
                        {
                            <option value="@department.Id">@department.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <table class="table table-bordered table-hover table-responsive table-striped" id="CourseTable">
            <thead>
                <tr>
                    <th>Course Code</th>
                    <th>Name</th>
                    <th>Shedule Info</th>
                </tr>
            </thead>
            <tbody id="tablebody"></tbody>
        </table>


    </fieldset>
}
@section scripts
{
    <script>
        $(document).ready(function () {

            $("#departmentId").change(function () {
                var departmentId = $("#departmentId").val();
                var json = { deptId: departmentId };
                $.ajax({
                    type: "POST",
                    url: '/ClassRoom/GetClassroomSheduleByDepartmentId',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {

                        $("#tablebody").empty();
                        $.each(data, function (key, value) {

                            $("#tablebody").append('<tr><td>' + value.CourseCode + '</td><td>' + value.CourseName + '</td><td>' + value.SheduleInfo + '</td></tr>');
                        });
                    }
                });
            });


        });
    </script>

    <script src="~/Scripts/jquery.validate.js"></script>

    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}



